:root {
  --folder-width: 100px;
  --folder-height: var(--folder-width);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.tree-view {
  display: table-cell;
  width: 300px;
  background: #111;
  color: #ccc;
}

.explorer {
  display: table-cell;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.explorer-scale {
  position: absolute;
  width: 300px;
  bottom: 20px;
  right: 20px;
}

.explorer-scale input[type=range] {
  width: 300px;
}

.explorer .path-view {
  padding: 1em;
  background-color: #111;
  color: #ccc;
}

.explorer .path-view .path-name {
  display: inline;
  color: #fff;
  padding: 0.5em;
  background: #333;
  margin-left: 0.5em;
  text-decoration: none;
}

.explorer .path-view .path-name:before {
  content: "/";
  display: inline;
  padding-right: 0.5em;
  color: #888;
}

.explorer .path-view .path-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.explorer .file-content {
  flex-grow: 1;
  background-color: #333;
  color: #ccc;
  overflow: auto;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.explorer .file-content .file, .explorer .file-content .folder {
  margin: 1em;
  position: relative;
  width: var(--folder-width);
  overflow: hidden;
  text-decoration: none;
  filter: drop-shadow(0px 5px 20px #000);
  color: #ccc;
  text-align: center;
  font-size: 14px;
}

.explorer .file-content .file::before, .explorer .file-content .folder::before {
  background-size: 100% 100%;
  content: "";
  display: block;
  width: var(--folder-width);
  height: var(--folder-height);
}

.explorer .file-content .file::before {
  background-image: url("/icon/file.png");
}

.explorer .file-content .file.txt::before {
  background-image: url("/icon/txt.png");
}

.explorer .file-content .file.js::before {
  background-image: url("/icon/js.png");
}

.explorer .file-content .file.html::before {
  background-image: url("/icon/html.png");
}

.explorer .file-content .file.exe::before {
  background-image: url("/icon/exe.png");
}

.explorer .file-content .file.json::before {
  background-image: url("/icon/json.png");
}

.explorer .file-content .file.md::before {
  background-image: url("/icon/md.png");
}

.explorer .file-content .file.php::before {
  background-image: url("/icon/php.png");
}

.explorer .file-content .folder::before {
  background-image: url("/icon/folder.png");
}

.explorer .file-content .folder:hover {
  text-decoration: underline;
  cursor: pointer;
}

.explorer .file-content .folder:hover::before {
  filter: brightness(80%);
}

.explorer .file-content .file.file-img::before {
  display: none;
}

.explorer .file-content .file.file-img img {
  width: 100%;
  max-height: 300px;
  border: 1px solid #ccc;
}

.explorer .file-content .file.file-video::before {
  background-image: url("/icon/video.jpg");
}
